﻿@model CarsFleet.ViewModels.CarsViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">@Html.LabelFor(m => m.Type)</div>
            <div class="col-sm-8">@Html.Kendo().DropDownListFor(m => m.Type).Events(ev => ev.Change("Cars.CarTypeChanged").DataBound("Cars.CarTypeChanged")).BindTo(ViewBag.AvailableTypes)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.LabelFor(m => m.Mark)</div>
            <div class="col-sm-8">@Html.Kendo().TextBoxFor(m => m.Mark)</div>
        </div>
        <div class="row" id="capacityRow">
            <div class="col-sm-2">@Html.LabelFor(m => m.Capacity)</div>
            <div class="col-sm-8">@Html.Kendo().NumericTextBoxFor(m => m.Capacity)</div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                @Html.Kendo().Button().Name("Save").Content("Zapisz")
            </div>
        </div>
    </div>

}
@section headerScripts {
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/cars")
}
