﻿@model CarsFleet.ViewModels.CarsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m =>m.Id)</div>
        <div class="col-sm-8">@Html.DisplayFor(m=>m.Id)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Type)</div>
        <div class="col-sm-8">@Html.DisplayFor(m => m.Type)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Mark)</div>
        <div class="col-sm-8">@Html.DisplayFor(m => m.Mark)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.Capacity)</div>
        <div class="col-sm-8">@Html.DisplayFor(m => m.Capacity)</div>
    </div>
    <div class="row">
        <div class="col-sm-2">@Html.LabelFor(m => m.UserName)</div>
        <div class="col-sm-8">@Html.DisplayFor(m => m.UserName)</div>
    </div>
     
</div>