﻿@model CarsFleet.ViewModels.EditCarViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary()

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">@Html.LabelFor(m => m.Type)</div>
            <div class="col-sm-8">
                @Html.DisplayFor(m => m.Type)
                @Html.HiddenFor(m => m.Type)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.LabelFor(m => m.Mark)</div>
            <div class="col-sm-8">
                @Html.Raw(Model.Mark)
                @Html.HiddenFor(m => m.Mark)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">@Html.LabelFor(m => m.UserId)</div>
            <div class="col-sm-8">
                @(Html.Kendo().DropDownListFor(m => m.UserId)
        .OptionLabel("Wybierz użytkownika")
        .DataValueField("Value")
        .DataTextField("Text")
        .DataSource(ds => ds.Read(read =>
        {
            read.Action("GetUsers", "Users");
        })
        ))
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">@Html.Kendo().Button().Name("Save").Content("Zapisz")</div>

        </div>
    </div>
}
@section headerScripts{
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/kendo")
}