﻿@using CarsFleet.ViewModels
@{
    ViewBag.Title = "Cars";
}
<h2>Cars</h2>
@(Html.Kendo().Grid<CarsViewModel>()
        .Name("CarsGrid")
        .Columns(cfg =>
        {
            cfg.Bound(m => m.Id).ClientTemplate(@"<a href=""/Cars/#= Id #"">#= Id #</a>");
            cfg.Bound(m => m.Type);
            cfg.Bound(m => m.Mark);
            cfg.Bound(m => m.Capacity);
            cfg.Bound(m => m.UserName);
            cfg.Bound(m => m.Id).Filterable(ftb => ftb.Enabled(false)).ClientTemplate("<a href='" + @Url.Action("Edit", "Cars", new { id = "#=Id#" }) + "'class='k-button k-button-icontext k-grid-edit'><span class='k-icon k-edit'></span>" + "Edytuj" + "</a>").Title("");
        })
        .ToolBar(t => t.Custom().Text("Dodaj").Name("Add").Url(Url.Action("Create")))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Action("GetCars", "Cars"))
        )
)
@section headerScripts{
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/kendo")
}